<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="<%= bootstrapCDN %>">
</head>
<body>

    <section class="h-100 min-vh-100" style="background-color: #d2c9ff;">
        <div class="container-fluid py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
              <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                <div class="card-body p-0">
                  <div class="row g-0">
                    <div class="col-lg-8">
                      <div class="p-5">
                        <div class="d-flex justify-content-between align-items-center mb-5">
                          <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                          <h6 class="mb-0 text-muted"><%= totalItem %> items</h6>
                        </div>
                        <hr class="my-4">
                        
                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                          <div class="col-md-3 col-lg-3 col-xl-3">
                            <h6 class="text-black mb-0">Product Name</h6>
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                            <h6 class="text-black mb-0">Quantity</h6>
                          </div>
                          <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                            <h6 class="text-black mb-0">Item Price</h6>
                          </div>
                          <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                            <h6 class="text-black mb-0">Total Price</h6>
                          </div>
                         
                        </div>

                        <% for (const cart in cartData) { %>
                          <div class="row mb-4 d-flex justify-content-between align-items-center">
                            <div class="col-md-3 col-lg-3 col-xl-3">
                              <h6 class="text-black mb-0"><%= cartData[cart].name %></h6>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                              <p><%= cartData[cart].quantity %></p>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                              <h6 class="mb-0">$<%= parseFloat(cartData[cart].price).toFixed(2) %></h6>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                              <h6 class="mb-0">
                                $<%= (parseFloat(cartData[cart].price) * parseInt(cartData[cart].quantity)).toFixed(2) %>
                              </h6>
                            </div>
                          </div>
                        <% } %>
      
                        <hr class="my-4">
      
      
                        <div class="pt-5">
                          <h6 class="mb-0"><a href="<%= homePagePath %>" class="text-body"><i
                                class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 bg-grey">
                      <div class="p-5">
                        <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                        <hr class="my-4">

                        <div class="d-flex justify-content-between mb-5">
                          <h5 class="text-uppercase">Total price</h5>
                          <h5>$<%= cartTotal.toFixed(2) %></h5>
                        </div>      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
</body>
</html>